name: Rust

on:
  push:
    branches: [ main ]
  schedule:
    - cron: 0 0 1 * *
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-11
        rust:
          - stable
          - 1.46.0 # lib MSRV
          - 1.60.0 # cli MSRV
        include:
          - os: ubuntu-latest
            rust: stable
            lint: 1
          - rust: stable
            rust-args: --all-features
          - rust: 1.46.0
            no-lock: 1
          - rust: 1.60.0
            rust-args: --all-features
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          default: true
          override: true

      - uses: Swatinem/rust-cache@v1

      # If we're testing with Rust < 1.60, cargo won't be able to find
      # the clap version specified in Cargo.lock, so remove the lockfile.
      # This is safe because applications that only use us as a library will
      # also ignore our Cargo.lock.
      # https://users.rust-lang.org/t/optional-dependencies-and-msrv/82151
      - name: Prune Cargo.lock
        if: matrix.no-lock
        run: rm Cargo.lock

      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace ${{ matrix.rust-args }}

      - name: rustfmt
        if: github.event_name == 'pull_request' && matrix.lint
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: clippy
        if: github.event_name == 'pull_request' && matrix.lint
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all --tests --all-features -- -D warnings
