name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        rust:
          - stable
          - msrv
          - 1.64.0 # cli MSRV
        include:
          - os: ubuntu-latest
            rust: stable
            lint: 1
          - rust: stable
            rust-args: --all-features
          - rust: 1.64.0
            rust-args: --all-features
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install toolchain
        shell: bash
        run: |
          ver="${{ matrix.rust }}"
          if [ "$ver" = msrv ]; then
              ver=$(cargo metadata --format-version 1 --no-deps | \
                  jq -r '.packages[0].rust_version')
          fi
          rustup toolchain install "$ver" --profile minimal --no-self-update
          rustup default "$ver"
          echo "Installed:"
          cargo --version
          rustc --version --verbose

      - uses: Swatinem/rust-cache@v2

      - name: cargo test
        run: cargo test --workspace ${{ matrix.rust-args }}

      - name: rustfmt
        if: github.event_name == 'pull_request' && matrix.lint
        run: cargo fmt --all -- --check

      - name: clippy
        if: github.event_name == 'pull_request' && matrix.lint
        run: cargo clippy --all --tests --all-features -- -D warnings
